* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit";
  font-size: 1.5rem;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0, 0.3);
  padding: 1.2rem;
  border-radius: 2rem;
}

.heading {
  color: hsl(218, 44%, 22%);
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
}

.qr-text {
  color: hsl(220, 15%, 55%);
  margin-bottom: 1.2rem;
  text-align: center;
}

img {
  width: 100%;
}

.qr-img {
  border-radius: 1rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 450px) {
  .container {
    width: 350px;
  }
}
